[submodule "backend"]
    path = backend
    url = https://github.com/aravindakm0207/expense-app-backend
[submodule "frontend/my-app"]
    path = frontend/my-app
    url = https://github.com/aravindakm0207/expense-app-frontend
